.chat-bubble{
	width:250px;
	padding:10px;
	position:relative;
	/*border-radius*/
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
	        border-radius:10px;
	/*box-shadow*/
	-webkit-box-shadow:0 0 5px #888888;
	   -moz-box-shadow:0 0 5px #888888;
	        box-shadow:0 0 5px #888888;
}

.bubble-content{
	position:relative;
	z-index:9;
}

#bubble-1{
	/* background-color:#e8e8e8; */
	background-color:#bd4e42;
	color:#ffffff;
}
#bubble-1 .chat-bubble-arrow{
	/* background-color:#e8e8e8; */
	background-color:#bd4e42;
	height:18px;
	width:18px;
	position:absolute;
	left:125px;
	/*transform*/
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);
	/*box-shadow*/
	-webkit-box-shadow:2px 2px 5px -2px #888888;
	   -moz-box-shadow:2px 2px 5px -2px #888888;
	        box-shadow:2px 2px 5px -2px #888888;
}

#bubble-2{
 background-color:#bd4e42;
 color:#ffffff;
}
#bubble-2 .chat-bubble-arrow{
 background-color:#bd4e42;
 height:18px;
 width:18px;
 position:absolute;
 left:30px;
 /*transform*/
 -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
     -ms-transform:rotate(45deg);
      -o-transform:rotate(45deg);
         transform:rotate(45deg);
 /*box-shadow*/
 -webkit-box-shadow:2px 2px 5px -2px #888888;
    -moz-box-shadow:2px 2px 5px -2px #888888;
         box-shadow:2px 2px 5px -2px #888888;
}
#bubble-3{
 background-color:#bd4e42;
 color:#ffffff;
}
#bubble-3 .chat-bubble-arrow{
 background-color:#bd4e42;
 height:18px;
 width:18px;
 position:absolute;
 left:30px;
 /*transform*/
 -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
     -ms-transform:rotate(45deg);
      -o-transform:rotate(45deg);
         transform:rotate(45deg);
 /*box-shadow*/
 -webkit-box-shadow:2px 2px 5px -2px #888888;
    -moz-box-shadow:2px 2px 5px -2px #888888;
         box-shadow:2px 2px 5px -2px #888888;
}
#bubble-4{
 background-color:#bd4e42;
 color:#ffffff;
}
#bubble-4 .chat-bubble-arrow{
 background-color:#bd4e42;
 height:18px;
 width:18px;
 position:absolute;
 left:30px;
 /*transform*/
 -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
     -ms-transform:rotate(45deg);
      -o-transform:rotate(45deg);
         transform:rotate(45deg);
 /*box-shadow*/
 -webkit-box-shadow:2px 2px 5px -2px #888888;
    -moz-box-shadow:2px 2px 5px -2px #888888;
         box-shadow:2px 2px 5px -2px #888888;
}

#bubble-5{
 background-color:#bd4e42;
 color:#ffffff;
}
#bubble-5 .chat-bubble-arrow{
 background-color:#bd4e42;
 height:18px;
 width:18px;
 position:absolute;
 left:30px;
 /*transform*/
 -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
     -ms-transform:rotate(45deg);
      -o-transform:rotate(45deg);
         transform:rotate(45deg);
 /*box-shadow*/
 -webkit-box-shadow:2px 2px 5px -2px #888888;
    -moz-box-shadow:2px 2px 5px -2px #888888;
         box-shadow:2px 2px 5px -2px #888888;
}


